
    <div class="container-fluid p-4">
      <div class="d-flex flex-row">

          <!-- Sidebare to navigate to any available setting -->
          <div class="d-flex flex-column">

              <!-- Profile Picture with name -->
              <section class="d-flex flex-row my-3">
                  <div class="p-2">
                      <img class="img-fluid img-responsive border rounded-circle" style="max-width:4rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnG9XsiAuW2P1NkrMyXF-qAnh2to04EpRvIg&usqp=CAU" alt="profile_picture">
                  </div>
                  <div class="p-2">
                      <h4>Fanaperana</h4>
                      <p><small class="text-muted">Your personal account</small></p>
                  </div>
              </section>
              <!-- // END profile picture with name -->

              <!-- Sidebar List -->
              <section class="rounded" style="width: 15rem;">
                  <ul class="list-group">
                      <li class="list-group-item fw-bolder bg-light">Account settings</li>
                      <li class="list-group-item">Profile</li>
                      <li class="list-group-item">Account</li>
                      <li class="list-group-item active">Account security</li>
                      <li class="list-group-item">Notification</li>
                    </ul>
              </section>
              <!-- // END Sidebar List -->

          </div>
          <!-- // END sidebar -->

          <div class="container-fluid">
              <div class="w-100 d-flex justify-content-end p-4">
                  <a href="" class="btn btn-outline-secondary btn-sm">Go to personal profile</a>
              </div>

              <section class="container">
                  <h3>Change password</h3>
                  <hr>

                  <form action="" method="post" style="max-width: 600px;">
                      <div class="mb-3">
                          <label for="" class="form-label fw-bolder">Old password</label>
                          <input type="password" class="form-control">
                      </div>

                      <div class="mb-3">
                          <label for="" class="form-label fw-bolder">New password</label>
                          <input type="password" class="form-control">
                      </div>

                      <div class="mb-3">
                          <label for="" class="form-label fw-bolder">Confirm new password</label>
                          <input type="password" class="form-control">
                      </div>

                      <div class="form-text text-muted">Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</div>


                      <button class="btn btn-secondary btn-sm my-3">Update password</button> <a href="" class="text-primary px-3">I forgot my password</a>
                  </form>

              </section>
          </div>

      </div>
  </div>
