<div class="user-search">
	<input class="searchbar" placeholder="Enter a username..." [formControl]="searchControl" type="text" name="user-search" id="user-search">

	<div *ngIf="loading; else notLoadingBlock">
		Loading...
	</div>
	<ng-template #notLoadingBlock>
		<div *ngIf="users !== undefined">
			<div class="user-rows" *ngIf="users.length > 0">
				<div *ngFor="let user of users">
					<div class="columns py-4">
						<div class="column is-narrow">
							<figure class="image is-48x48">
								<img class="is-rounded" [src]="user.photoURL">
							</figure>
						</div>
						<div class="column">
							{{user.displayName}}
							<br>
							{{user.status}}
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="users.length == 0">
				<p>No Users Found</p>
			</div>
		</div>
		<div *ngIf="users === undefined">
			Start typing to search for users..
		</div>
	</ng-template>
</div>