<div *ngIf="this.user !== undefined" class="container p-4">
  <div class="d-flex flex-row">

      <!-- Sidebare to navigate to any available setting -->
      <div class="d-flex flex-column">

          <!-- Profile Picture with name -->
          <section class="d-flex flex-row my-3">
              <div class="p-2">
                <figure class="image is-48x48 rounded-circle img-thumbnail">
                  <img class="is-rounded" [src]="user.photoURL!='' ? user.photoURL : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnG9XsiAuW2P1NkrMyXF-qAnh2to04EpRvIg&usqp=CAU'">
              </figure>
              </div>
              <div  class="p-2">
                  <h4>{{user.displayName}}</h4>
                  <p><small class="text-muted">Your personal account</small></p>
              </div>
          </section>
          <!-- // END profile picture with name -->

          <!-- Sidebar List -->
          <section class="rounded" style="width: 15rem;">
              <div class="list-group">
                <h6 class="list-group-item fw-bolder bg-light">Account settings</h6>
                <a class="list-group-item" routerLink="/profile">Profile</a>
                <a class="list-group-item active" routerLink="/account">Account</a>
                <!-- <a class="list-group-item" routerLink="/security">Account security</a> -->
                <!-- <a class="list-group-item" routerLink="/notification">Notification</a> -->
            </div>
          </section>
          <!-- // END Sidebar List -->

      </div>
      <!-- // END sidebar -->

      <div class="container-fluid">
          <div class="w-100 d-flex justify-content-end p-4">
              <a routerLink="" class="btn btn-outline-secondary btn-sm">Go back to chatroom</a>
          </div>

          <section class="container">
              <!-- <h3>Change Username</h3>
              <hr>

              <div class="d-flex flex-row">
                  <form action="" method="post" style="max-width: 600px;">
                      <div class="mb-3 pb-4">
                          <p class="text-muted">Changing username require you to logout and login for full changes to apply.</p>

                          <button class="btn btn-success btn-sm">Change username</button>
                      </div>

                  </form>
              </div>


              <h3>Export account data</h3>
              <hr>
              <p class="text-muted">Exporting all chat history for <span class="text-info">@{{user.displayName}}</span>.</p>
              <button class="btn btn-warning btn-sm">Start exporting</button>-->

              <div class="my-4 py-4">
                  <h3 class="text-danger my-3">Delete account</h3>
                  <p class="text-muted my-2">Once you delete your account, there is no going back. Please be certain.</p>
                  <button class="btn btn-danger btn-sm is-active" (click)="openDeleteAccountModal()">Delete Account</button>
              </div>

              <div id="delete-account-modal" class="modal">
                <div class="modal-background" (click)="closeDeleteAccountModal()"></div>
                <div class="modal-content">
                    <p class="text-muted px-4 pt-4">Are you <b>sure</b> you want to <span class="text-danger">delete your account?</span></p>
                    <div class="is-flex p-2">
                        <button class="mx-2 btn btn-danger btn-sm" (click)="deleteAccount()">Delete account</button>
                        <button class="mx-2 btn btn-secondary btn-sm" (click)="closeDeleteAccountModal()">Keep account</button>
                    </div>
                </div>
              </div>
          </section>
      </div>

  </div>
</div>
