<div class="container-fluid" style="height: 100vh;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="bg-white mx-auto border rounded-3 mt-5 p-3 shadow-lg" style="max-width: 600px;">
      <div class="container">
          <h1 class="text-center fw-bolder mt-5 text-success" style="font-size: 60px;">
              Welcome to Cool Chat
          </h1>
          <hr class="my-5 w-75 mx-auto">

          <div class="form-floating mb-5 w-75 mx-auto">
              <input type="email" value="" id="emailInput" placeholder="Email address ..." class="form-control form-control-lg" formControlName="username">
              <label for="emailInput">Email address</label>
          </div>

          <div class="form-floating mb-5 w-75 mx-auto">
              <input type="password" name="" id="pskInput" class="form-control form-control-lg mb-3" placeholder="Password ..." formControlName="password">
              <label for="pskInput">Password</label>
              <small><a href="">Forgot Your Password</a></small>
          </div>

        <div class="w-75 mx-auto mb-5">
            <span class="text-danger" *ngIf="loginError != undefined">{{loginError}}</span>
        </div>

          <div class="w-75 mx-auto mb-5">
              <button type="submit" class="btn btn-warning w-100 btn-lg" [disabled]="!loginForm.valid">Login</button>
          </div>


          <div class="w-75 mx-auto mt-5">
              <p>Don't have an Account? <a routerLink="/signup">Sign Up</a></p>
          </div>
      </div>
  </form>
</div>
