<div style="height: 100vh; overflow: hidden;">
	<div class="columns p-6" style="height: 100%;">
		<div class="column is-one-quarter" style="height: 100%;">
			<app-sidebar (changedChatroom)="setCurrentChatroom($event)"></app-sidebar>
		</div>
		<div class="column" style="height: 100%;">
			<app-chatroom style="height: 100%;" [chatroomId]="currentChatroomId"></app-chatroom>
			<!-- <app-user-search></app-user-search> -->
			<!-- <app-chatroom-creation></app-chatroom-creation> -->
		</div>
	</div>

</div>