<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
    <button class="button is-primary">Hello world</button>
    <!-- <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.name}}
      </li>
    </ul> -->
    <ul>
      <li *ngFor="let message of messages$ | async">
        {{message.author.name}}: {{message.content}}
      </li>
    </ul>
    <div class="input-group">
      <input [(ngModel)]="messageInput" type="text" class="form-control" placeholder="Messages in here ...">
      <button (click)="onSubmit()" type="submit" class="btn btn-primary">Send</button>
    </div>

  </div>
</section>

<router-outlet></router-outlet>
