.chat-selector {
    border-radius: 0.2em;
    padding: 0.75rem 0.5rem;
    border-left: 10px solid transparent;
    border-bottom: 1px solid #ccc;

    &:hover {
        cursor: pointer;
    }

    &.active {
        border-left: 10px solid #ccc;
        font-weight: 700;
    }
}

.chat-selector:hover {
    background-color: rgb(219, 219, 219); 
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}