<section id="content" class="m-3 w-100 rounded p-4 bg-light border border-white border-2 d-flex align-items-end flex-column">
  <div class="bg-secondary bg-opacity-10 h-100 my-2 w-100 rounded p-3 d-flex align-items-end flex-column">

    <div class="mb-auto"></div>


    <div class="align-self-start p-3 bg-white shadow-sm" style="border-radius: 30px;">
        Other chat sender
    </div>


    <div class="align-self-end p-3 bg-info bg-opacity-75" style="border-radius: 30px">
        Something you send here
    </div>

  </div>
  <div class="input-group">
      <textarea type="text" class="form-control form-control-lg"> </textarea>
      <button class="btn btn-outline-info btn-lg">Send</button>
  </div>
</section>
