<div *ngIf="newMessage != undefined" id="newMessage">
    <!-- work on making user messages on the right side of the page-->
    <figure>
        <img class="is-rounded" *ngIf="shouldDisplayUser() && !isFromCurrentUser && (messagePhoto == '')" id="circleLeft" [src]="defaultPhoto">
        <img class="is-rounded" *ngIf="shouldDisplayUser() && !isFromCurrentUser && (messagePhoto != '')" id="circleLeft" [src]="messagePhoto">
    </figure>
    <div *ngElse class="column"></div>
    <!--opposite logic to make sure alignemnt div is displayed for continuing messages-->
    <div *ngIf="!shouldDisplayUser() && !isFromCurrentUser" id="alignmentDivLeft"></div>
    <div *ngIf="!isFromCurrentUser"class="column" id="messageInfoLeft">
        <p class="bodyLeft">
            {{newMessage.content}}
        </p>
            <span *ngIf="shouldDisplayUser()" class="userId">
                {{(newMessage.author | async)?.displayName}} ·
            </span>
            <span *ngIf="!shouldNotDisplayTimestamp()" class="timeStamp">
                {{messageDay}} {{messageTime}}
            </span>
    </div>
    <!-- work on making non-user messages on the left side of the page-->
    <figure>
        <img class="is-rounded" *ngIf="shouldDisplayUser() && isFromCurrentUser && (messagePhoto == '')" id="circleRight" [src]="defaultPhoto">
        <img class="is-rounded" *ngIf="shouldDisplayUser() && isFromCurrentUser && (messagePhoto != '')" id="circleRight" [src]="messagePhoto">
    </figure>
    <div *ngElse class="column"></div>
    <div *ngIf="!shouldDisplayUser() && isFromCurrentUser" id="alignmentDivRight"></div>

    <div *ngIf="isFromCurrentUser" class="column" id="messageInfoRight">
        <span id="testing">
        <p class="bodyRight">
            {{newMessage.content}}
        </p>
            <span *ngIf="shouldDisplayUser()" class="userId">
                {{(newMessage.author | async)?.displayName}} ·
            </span>
            <span *ngIf="!shouldNotDisplayTimestamp()" class="timeStamp">
                {{messageDay}} {{messageTime}}
            </span>
        </span>
    </div>
</div>