.userId {
    font-size: xx-small;
    float: left;
}

.bodyLeft {
    background-color: #efefef;
    overflow-wrap: break-word;
    border-radius: 0.2em;
    width: fit-content;
    height: fit-content;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.timeStamp {
    font-size: xx-small;
    float: left;
}


#circleRight {
    // border-radius: 50%;
    // height: 64px;
    // width: 64px;
    // float: right;
}

#alignmentDivRight {
    background-color: transparent;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    float: right;
}

#messageInfoRight {
    float: right;
    width: 50%;
}
#newMessage {
    flex: 1;
}

.bodyRight {
    color: #fff;
    background-color: #00d1b2;
    overflow-wrap: break-word;
    border-radius: 0.2em;
    width: fit-content;
    height: fit-content;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.message-content-container {
    max-width: 60%;
}