<div *ngIf="newMessage != undefined" id="newMessage">
    <div class="is-flex is-justify-content-flex-start"
        [ngClass]="{'is-flex-direction-row-reverse': isFromCurrentUser, 'pt-1': !shouldDisplayUser(), 'pt-4': shouldDisplayUser()}">
        <figure class="image is-48x48 mx-3">
            <img class="is-rounded" *ngIf="shouldDisplayUser() && (messagePhoto == '')" [src]="defaultPhoto">
            <img class="is-rounded" *ngIf="shouldDisplayUser()  && (messagePhoto != '')" [src]="messagePhoto">
        </figure>
        <div class="message-content-container pt-1">
            <p style="width: 100%;" [ngClass]="{'bodyRight': isFromCurrentUser, 'bodyLeft': !isFromCurrentUser}">
                {{newMessage.content}}
            </p>
            <span *ngIf="shouldDisplayUser()" class="userId">
                {{(newMessage.author | async)?.displayName}} ·
            </span>
            <span *ngIf="!shouldNotDisplayTimestamp()" class="timeStamp">
                {{messageDay}} {{messageTime}}
            </span>
        </div>
    </div>
</div>