<div class="container-fluid" style="height: 100vh;">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" action="" class="bg-white mx-auto border rounded-3 mt-5 p-3 shadow-lg" style="max-width: 600px;">
        <div class="container">
            <h1 class="text-center fw-bolder mt-5 is-size-1">
                Cool Chat Signup
            </h1>
            <hr class="my-5 w-75 mx-auto">

            <div class="form-floating mb-5 w-75 mx-auto">
                <input type="email" value="" id="displayNameInput" placeholder="Display Name ..." class="form-control form-control-lg" formControlName="displayName">
                <label for="emailInput">Display Name</label>
                <p class="text-danger" *ngIf="displayErrors && signupForm.controls['displayName'].errors?.required">
                    Display Name is required
                </p>
            </div>

            <div class="form-floating mb-5 w-75 mx-auto">
                <input type="email" value="" id="emailInput" placeholder="Email address ..." class="form-control form-control-lg" formControlName="email">
                <label for="emailInput">Email address</label>
                <p class="text-danger" *ngIf="displayErrors && signupForm.controls['email'].errors?.required">
                    Email is required
                </p>
                <p class="text-danger" *ngIf="displayErrors && signupForm.controls['email'].errors?.email">
                    Email is not valid
                </p>
            </div>

            <div class="form-floating mb-5 w-75 mx-auto">
                <input type="password" name="" id="pskInput" class="form-control form-control-lg mb-3" placeholder="Password ..." formControlName="password">
                <label for="pskInput">Password</label>
                <p class="text-danger" *ngIf="displayErrors && signupForm.controls['password'].errors?.required">
                    Password is required
                </p>
                <p class="text-danger" *ngIf="displayErrors && signupForm.controls['password'].errors?.minlength">
                    Password must be {{signupForm.controls['password'].errors?.minlength.requiredLength}} or more characters
                </p>
            </div>

            <div class="form-floating mb-5 w-75 mx-auto">
                <input type="password" name="" id="rePskInput" class="form-control form-control-lg mb-3" placeholder="Password ..." formControlName="confirmPassword">
                <label for="rePskInput">Confirm Password</label>
                <p class="text-danger" *ngIf="displayErrors && signupForm.controls['confirmPassword'].errors?.required">
                    Confirm password is required
                </p>
                <p class="text-danger" *ngIf="displayErrors && signupForm.errors?.notSame">
                    Confirm password does not match
                </p>
            </div>

            <div class="w-75 mx-auto mb-5">
                <span class="text-danger" *ngIf="registerError != undefined">{{registerError}}</span>
            </div>

            <div class="w-75 mx-auto mb-5">
                <button type="submit" class="button is-primary w-100">Sign Up</button>
            </div>


            <div class="w-75 mx-auto mt-5">
                <p>Already have an Account? <a href="">Sign In</a></p>
            </div>
        </div>
    </form>
</div>