#id {
    display: flex;
    flex-grow: 1;
}

.chat-selector:hover {
    background-color: rgb(219, 219, 219); 
}

.chat-selector {
    border-radius: 0.2em;
    padding: 0.75rem 0.5rem;
    border-left: 10px solid transparent;
    border-bottom: 1px solid #ccc;

    &:hover {
        cursor: pointer;
    }

    &.has-new-message {
        border-left: 10px solid hsl(348, 100%, 61%);
        // background-color: rgba(255, 255, 255, 0.5);
    }

    &.active {
        border-left: 10px solid #ccc;
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
    }
}

.status {
    background-color: orchid;
    margin-top: 0.2em;
    padding: 0.2em;
    border-radius: 0.2em;
    width: 30%;
}