<div *ngFor="let chat of chatlist">
    <div class="columns chat-selector fix-fullscreen-col-margins" style="margin: 0;" [ngClass]="{active: selectedChatroom === chat.id, notification: chat.notificationCount > 0}">
        <div class="column" (click)="setCurrentChatroom(chat.id)"style="padding: 0;">
            <div>{{chat.displayName}}</div>
            <div>{{chat.participants.length}} members</div>
        </div>
        <div class="column is-narrow" style="padding: 0;">
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item has-text-danger" (click)="leaveChatroom(chat.id)">Leave Chatroom</a></li>
            </ul>
        </div>
    </div>
</div>