<section id="messages">

    <section id="chatInfoBar">
        <div id="circle">
        
        </div>
        <div id="userLabel">
            <!--The binding for this will come from the users in the chat from the chatroom data service-->
            Your chat with (other users)!
        </div>
        <hr>
    </section>

    <section id="messageHistory">
        <div *ngFor="let message of messageHist">
            <!--Temporary condition for testing so application will compile for now-->
            <div *ngIf="isValid == false; then sentMessage; else recievedMessage">
            </div>
            <ng-template #sentMessage>
                <div>
                    <app-message [newMessage]="message" class="sentMessage"></app-message>
                </div>
            </ng-template>
            <ng-template #recievedMessage>
                <div>
                    <app-message [newMessage]="message" class="recievedMessage"></app-message>
                </div>
            </ng-template>
        </div>
    </section>

    <section id="messageInputSection">  
        <form>
            <!--Temporary usng [user] for placeholder until services available-->
            <input class="input" placeholder="Message [user]" 
            type="text" name="newMessage" id="messageInput" (click)="addMessage()">
         </form>
    </section>

</section>