<div class="chatroom-creation-component">
	<div class="user-search-container">
		<app-user-search #usersearch (change)="onSelectedUsersChange($event)"></app-user-search>
	</div>
	<div class="chatroom-creation-bottom-bar pt-3">
		<div class="field has-addons">
			<div class="control is-flex-grow-1">
				<input [(ngModel)]="chatroomName" class="input" type="text" placeholder="Chatroom Name">
			</div>
			<div class="control">
				<button [disabled]="!canCreate()" class="button is-info" (click)='onCreate()'>
					Create
				</button>
			</div>
		</div>
	</div>
</div>
